.quiz-content {
  padding: 10px;
  top: 50%;
  opacity: 0;
  width: 100%;
  box-sizing: border-box;
  transition: opacity 0.3s linear;
}

.quiz-content.active {
  opacity: 1
}

.quiz-content .step {
  display: none;
}

.quiz-content .step.active {
  display: block;
  animation: show-step 0.5s linear;
}

.quiz-content .step.animate {
  animation: hide-step 0.5s linear;
}

.quiz-content .title {
  font-weight: unset;
  font-size: 24px;
  line-height: 32px;
  color: rgb(1, 41, 65);
  overflow-wrap: break-word;
  margin: 0 0 20px 0;
}

.quiz-content .description {
  font-weight: unset;
  font-size: 20px;
  line-height: 28px;
  color: rgba(1, 41, 65, 0.7);
  overflow-wrap: break-word;
  margin: 20px 0;
}

.quiz-content .q-btn {
  position: relative;
  font-family: inherit;
  line-height: initial;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity, box-shadow;
  transition-timing-function: ease-out;
  outline: none;
  border: 1px solid transparent;
  margin: 20px 20px 0 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  padding-block: 8px;
  padding-inline: 18px;
  min-height: 48px;
  background-color: rgb(169, 183, 243);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 26px;
  text-decoration: none;
  float: left;
}

.quiz-content .q-btn:hover {
  background-color: rgb(182, 194, 245);
}

.quiz-content .info {
  padding: 40px;
}

.quiz-content .timing {
  margin: 0px;
  max-width: 100%;
  width: inherit;
  font-weight: unset;
  font-size: 14px;
  line-height: 20px;
  color: rgb(1, 41, 65);
}

.quiz-content .timing .icon svg {
  margin: 0 10px 0 0;
  opacity: .7
}

.quiz-content .field {
  display: block;
  padding: 10px 0 20px 0;
}

.quiz-content label {
  display: block;
  margin: 0px;
  max-width: 100%;
  width: inherit;
  font-weight: unset;
  font-size: 16px;
  line-height: 24px;
  color: rgb(109, 131, 226);
}

.quiz-content input[type="text"] {
  margin: 10px 0;
  display: block;
  width: 100%;
  font-family: inherit;
  color: rgb(109, 131, 226);
  padding-block-start: 0px;
  padding-block-end: 5px;
  padding-inline: 0px;
  border: none;
  outline: none;
  border-radius: 0px;
  appearance: none;
  background-image: none;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  transform: translateZ(0px);
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  line-height: unset;
  -webkit-text-fill-color: rgb(109, 131, 226);
  animation: 1ms ease 0s 1 normal none running native-autofill-in;
  transition: background-color 1e+08s ease 0s, box-shadow 0.1s ease-out 0s;
  box-shadow: rgba(109, 131, 226, 0.3) 0px 1px;
  background-color: transparent !important;
}

.quiz-content input[type="text"]:focus {
  box-shadow: rgb(109, 131, 226) 0px 2px;
}

.quiz-content .step.error .error input[type="text"] {
  -webkit-text-fill-color: rgb(226 109 109);
  box-shadow: #ff000099 0px 1px;
}

.quiz-content .example {
  display: block;
  margin: 0px 0 10px 0;
  max-width: 100%;
  width: inherit;
  font-weight: unset;
  font-size: 16px;
  line-height: 24px;
  color: rgb(109, 131, 226);
  opacity: .7;
}

.quiz-content .option .input-radio {
  display: none;
}

.quiz-content .option label {
  position: relative;
  display: inline-block;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgba(109, 131, 226, 0.1);
  box-shadow: rgba(109, 131, 226, 0.6) 0px 0px 0px 1px inset;
  color: rgb(109, 131, 226);
  max-width: 100%;
  height: inherit;
  min-height: 40px;
  outline: 0px;
  padding-block: 4px;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity, box-shadow;
  transition-timing-function: ease-out;
  word-break: break-word;
  cursor: pointer;
  opacity: 1;
  min-width: 300px;
  margin: 5px 0;
  line-height: 40px;
  padding: 0 35px 0 15px;
  border-radius: 5px;
}

.quiz-content .option label:hover {
  background-color: rgba(109, 131, 226, 0.3);
}

.quiz-content .option label.animate {
  animation: option 0.2s linear;
  animation-iteration-count: 5;
}

.quiz-content .option label svg {
  display: none;
  fill: rgb(109, 131, 226);
  transition: fill 0.2s ease 0s;
  position: absolute;
  right: 10px;
  top: 13px;
}

.quiz-content .option .key {
  text-transform: uppercase;
  float: left;
  background: #fff;
  line-height: 29px;
  width: 30px;
  text-align: center;
  margin: 4px 10px 0 -5px;
  border: 1px solid rgba(109, 131, 226, 0.6);
  border-radius: 3px;
}

.quiz-content .option .animate .key {
  background: #dce2ff;
  animation: key 0.2s linear;
  animation-iteration-count: 5;
}

.quiz-content .option .animate svg {
  display: block;
}

.quiz-content .step.error .error label {
  color: rgb(226 109 115);
}

.quiz-content .error-message {
  background: #f7e6e6;
  color: #bf0404;
  padding: 10px;
  min-width: 220px;
  line-height: 26px;
}

.quiz-content .quiz-error {
  color: red;
}

.quiz-content .error-message .boundary {
  float: left;
}

.quiz-content .error-message .boundary svg {
  display: block;
  fill: rgb(175, 4, 4);
  transition: fill 0.2s ease 0s;
}

.quiz-content .quiz-progress {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  overflow: hidden;
  background-color: rgba(169, 183, 243, 0.3);
}

.quiz-content .quiz-progress .value {
  height: 100%;
  width: 0;
  background-color: rgb(169, 183, 243);
  transition: all 0.4s ease 0s;
}

.quiz-content .pdf-wrap img {
  max-width: 794px;
}

@media all and (max-width: 600px) {
  .quiz-navigate {
    left: 20px;
    width: 47px;
    display: none;
  }

  .quiz-content .field {
    padding: 10px 0 10px 0;
  }

  .quiz-content .title {
    font-size: 20px;
    line-height: 28px;
  }

  .quiz-content .step {
    padding: 0 30px;
  }

  .quiz-content .description {
    font-size: 16px;
    line-height: 24px;
  }

  .quiz-content .info {
    display: none
  }

  .quiz-content .q-btn {
    position: fixed;
    width: 65%;
    text-align: center;
    font-size: 24px;
    bottom: 20px;
    margin: 0 auto;
    left: 25%;
  }

  .quiz-content .part-0 .step-0 .q-btn {
    position: fixed;
    width: 80%;
    text-align: center;
    font-size: 24px;
    bottom: 20px;
    margin: 0 auto;
    left: 10%;
  }

  .quiz-content .part-0 .step-0 .timing {
    position: fixed;
    bottom: 80px;
    text-align: center;
    width: 80%;
    left: 10%;
  }

  .quiz-navigate .sep {
    display: none;
    height: 35px;
    width: 30px;
  }

  .quiz-navigate .next {
    display: none;
  }

  .quiz-navigate svg {
    display: block;
    fill: rgb(255, 255, 255);
    transition: fill 0.2s ease 0s;
    transform: rotate(270deg);
    min-width: 30px;
    height: 37px;
  }

  .quiz-navigate .prev {
    min-width: 46px;
    height: 47px;
  }

  .quiz-content .error-message {
    margin: 0 10%;
    width: 80%;
  }
}

@keyframes hide-step {
  0% {
    transform: translateY(0px);
    display: block;
    position: absolute;
  }
  100% {
    transform: translateY(-1000px);
    display: none;
    position: absolute;
  }
}

@keyframes show-step {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes option {
  0% {
    box-shadow: rgba(109, 131, 226, 0.6) 0px 0px 0px 1px inset;
  }
  100% {
    box-shadow: rgba(109, 131, 226, 0.6) 0px 0px 0px 2px inset;
  }
}

@keyframes key {
  0% {
    background: #fff;
  }
  100% {
    background: #dce2ff;
  }
}

