/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

:root {
	--quiz-color-primary: #31b7bc;
	--quiz-color-primary-hover: #217c7f;
	--quiz-color-primary-rgb: 49, 183, 188;
	--quiz-opacity: 0.3;

	--quiz-btn-radius: .375rem;
	--quiz-top-offset: 4.25rem;
}

#app {
	/* font-size: 44px;
	margin: 0 auto;
	line-height: 1.15;
	padding: 2em;
	font-weight: 400;
	letter-spacing: 0.4px; */

}

body {
	margin: 0;
	padding: 0;
}

	
/* Это ограничение для пристрелки контейнера, контейнеры могут быть разные и адаптивные */
.quiz-container {
	background-color: azure;
}
	

.quiz-container {
	position: relative;
	display: flex;
	overflow: hidden;

	/* Если внутренняя вставка и есть блоки сверху-снизу, то вычисляем высоту, если нет, то height: 100vh; top:0; */
	height: calc(100vh - var(--quiz-top-offset));

	/* Это для теста блока шапки */
	/* top: var(--quiz-top-offset); */
}

	
	
.quiz-container .quiz-content {

	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1 0%; 
	overflow-x: hidden;
	overflow-y: auto;
	/* padding-top: 2rem; */



	/* position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center; */

	width: 100%;
	/* height: 100%; */
	margin: 0 auto;
	/* padding: 2rem 0 0 0; */


	/* background: lightgreen; */
}


.quiz-progress-container,
.quiz-inner-container	{
	/* Параметры контейнера */
	width: 100%;
	max-width: 1200px;	
	margin: 0 auto;
}

.quiz-inner-container {
	flex-grow: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.quiz-progress-container {
	position: sticky;
	z-index: 10;
	flex-shrink: 0;
	/* position: absolute; */
	top: 0;
	height: 2rem;
	width: 100%;
}

.quiz-progress {
  position: relative;
  top: 1rem;
  /* width: 100%; */
  height: 4px;
  overflow: hidden;
  background-color: rgba( var(--quiz-color-primary-rgb), var(--quiz-opacity)); 
	/* rgba(49,183,188,.3); */

	/* Левый и правый ьфкпшт устанавливаются как отступ у контейнера */
	margin: 0 1rem;
}

.quiz-progress .value {
  height: 100%;
  width: 0;
  background-color: rgb(var(--quiz-color-primary-rgb));
  transition: all 0.4s ease 0s;
}


.quiz-content .parts {
	padding: 2rem 1rem 1rem;
	flex-grow: 1;

	
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.quiz-inner-bottom {
	position: sticky;
	bottom: 0;
	/* height: 6rem; */

	padding: 1rem;

	background-color: #f3f4f6e6;
}

.quiz-inner-bottom .button-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.5rem;

}


.quiz-content .inner-content .title {
	font-size: 1.25rem;
	line-height: 1.4;
	color: rgb(1, 41, 65);
	overflow-wrap: break-word;
	margin: 0 0 1.5rem 0;	
}

.quiz-content .inner-content .description {
	margin: 1.5rem 0;

	color: #909093;
	font-size: 1rem;
	line-height: 1.4;
}


@media all and (min-width: 1288px) {
	.quiz-content .parts {
		flex-grow: 0;
	}	

	.quiz-content .inner-content .title {
		font-size: 1.5rem;
	}

	.quiz-content .inner-content .description {
		font-size: 1.125rem;
	}

	.quiz-content .quiz-inner-bottom {
		background: transparent;
	}
}


.quiz-content .result-grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	row-gap: 2.5rem;
	column-gap: 2rem;
}

.quiz-container .scale-container > div {
	transform: scale(.4);
	transform-origin: top left;	
}

@media all and (min-width: 768px) {
	.quiz-content .result-grid {
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}

	.quiz-content .result-grid .result-grid-left {
		grid-column: span 6 / span 6;
	}
		
	.quiz-content .result-grid .result-grid-right {
		grid-column: span 6 / span 6;
	}

}

@media all and (min-width: 976px) {
	.quiz-content .scale-container {
		height: 614px;
		width: 437px;
	}

	.quiz-container .scale-container > div {
		transform: scale(.55);
	}	
}

@media all and (min-width: 1288px) {
	.quiz-content .result-grid .result-grid-left {
		grid-column: span 5 / span 5;
	}
		
	.quiz-content .result-grid .result-grid-right {
		grid-column: span 7 / span 7;
	}

	.quiz-content .scale-container {
		height: 675px;
		width: 476px;
	}

	.quiz-container .scale-container > div {
		transform: scale(.6);
	}		
}


/* Old styles */

.quiz-content .q-btn {
  position: relative;
  font-family: inherit;
  line-height: initial;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity, box-shadow;
  transition-timing-function: ease-out;
  outline: none;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;

  /* min-height: 48px; */

	padding: .75rem 2rem;
	background-color: var(--quiz-color-primary);
	border-radius: var(--quiz-btn-radius);

  color: rgb(255, 255, 255);
  /* border-radius: 5px;
  font-size: 26px;
   */
  /* float: left; */

	text-decoration: none;
	font-size: 1rem;
}

.quiz-content .q-btn:hover {
  background-color: var(--quiz-color-primary-hover);
}

.quiz-content .info {
  /* padding: 40px; */
}

.quiz-content .timing {
  margin: 1rem 0 0 0;
  max-width: 100%;
  width: inherit;
  font-weight: unset;
  font-size: 14px;
  line-height: 20px;
  color: rgb(1, 41, 65);
}

.quiz-content .timing .icon svg {
  margin: 0 10px 0 0;
  opacity: .7
}

.quiz-content .field {
  display: block;
  padding: 10px 0 20px 0;
}

.quiz-content label {
  display: block;
  margin: 0px;
  max-width: 100%;
  width: inherit;
  font-weight: unset;

	line-height: 1.25rem;
	/* margin-bottom: 0.125rem;	 */
}

.quiz-content .option-image {
	display: block;
}


.quiz-content .input-text {
	border: 1px solid;
	border-color: #d1d5db;
	border-radius: var(--quiz-btn-radius);
	padding: .75rem 1rem;
	box-shadow: none;
	outline: 0;
}

.quiz-content .input-text:focus {
	border-color: var(--quiz-color-primary);
}

.quiz-content .option .input-radio {
	display: none;
}

.quiz-content .option label {
	position: relative;
	display: inline-block;
	-webkit-box-align: center;
	align-items: center;
	background-color: rgba(var(--quiz-color-primary-rgb), 0.1);
	/* box-shadow: rgba(109, 131, 226, 0.6) 0px 0px 0px 1px inset; */
	box-shadow: var(--quiz-color-primary) 0px 0px 0px 1px inset;
	color: var(--quiz-color-primary);

	max-width: 100%;
	height: inherit;
	min-height: 40px;
	outline: 0px;
	padding-block: 4px;
	transition-duration: 0.1s;
	transition-property: background-color, color, border-color, opacity, box-shadow;
	transition-timing-function: ease-out;
	word-break: break-word;
	cursor: pointer;
	opacity: 1;
	min-width: 300px;
	margin: 5px 0;
	line-height: 40px;
	padding: 0 35px 0 15px;
	border-radius: var(--quiz-btn-radius);

	font-size: 1rem;
}

.quiz-content .option label:hover {
	background-color: rgba(var(--quiz-color-primary-rgb), 0.3);
}

.quiz-content .option label.animate {
	animation: option 0.2s linear;
	animation-iteration-count: 5;
}

.quiz-content .option label svg {
	fill: transparent;
	transition: fill 0.2s ease 0s;
	position: absolute;
	right: 10px;
	top: 13px;
}

.quiz-content .option .key {
	text-transform: uppercase;
	float: left;
	background: #fff;
	line-height: 29px;
	width: 30px;
	text-align: center;
	margin: 4px 10px 0 -5px;
	border: 1px solid rgba(109, 131, 226, 0.6);
	border-radius: 3px;
}

.quiz-content .option .animate .key {
	background: #dce2ff;
	animation: key 0.2s linear;
	animation-iteration-count: 5;
}

.quiz-content .option .animate svg {
	fill: rgb(109, 131, 226);
	animation: key2 0.2s linear;
	animation-iteration-count: 5;
}

.radio-item, .checkbox-item {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.radio-item .input-radio,
.checkbox-item .input-checkbox {
	margin: 0;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	color: var(--quiz-color-primary);
	background-color: #fff;

	border: 1px solid #cbd5e1;
}

.radio-item .input-radio {
	border-radius: 100%;
}

.radio-item .input-radio:checked,
.checkbox-item .input-checkbox:checked{
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;	
}

.checkbox-item .input-checkbox:checked{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
.radio-item .input-radio:checked{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

.checkbox-item .input-checkbox:checked:hover,
.checkbox-item .input-checkbox:checked:focus,
.radio-item .input-radio:checked:hover,
.radio-item .input-radio:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

.quiz-content .field-radio,
.quiz-content .field-checkbox {
	padding-bottom: 0;
}


.quiz-content .field-select select {
	border: 1px solid;
	border-color: #d1d5db;
	border-radius: var(--quiz-btn-radius);
	padding: .75rem 1rem;
	box-shadow: none;


	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
	color-adjust: exact;

}

.quiz-content .error-message {
	display: flex;
	align-items: center;
	column-gap: 0.25rem;

	background: #f7e6e6;
	color: #bf0404;
	padding: 10px;
	/* min-width: 220px; */
	line-height: 26px;

	margin-bottom: 1rem;
}

.quiz-content .error-message .boundary svg {
	display: block;
	fill: rgb(175, 4, 4);
	transition: fill 0.2s ease 0s;
}

@keyframes show-step {
	0% {
		transform: translateY(-1000px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes option {
	0% {
		box-shadow: rgba(109, 131, 226, 0.6) 0px 0px 0px 1px inset;
	}
	100% {
		box-shadow: rgba(109, 131, 226, 0.6) 0px 0px 0px 2px inset;
	}
}

@keyframes key {
	0% {
		background: #fff;
	}
	100% {
		background: #dce2ff;
	}
}

@keyframes key2 {
	0% {
		fill: transparent;
	}
	100% {
		fill: rgb(109, 131, 226);
	}
}

